@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400');

body {
  background-color: #f5f3f3 !important;
}
h6, p, ul {
  font-family: 'Work Sans', sans-serif;
}
.btn-warning {
  background: #ffd000 !important;
}
.btn-warning:hover {
  color: #555555 !important;
}
.nav {
  background: white;
  box-shadow: 0px 3px 20px #00000017;
  background: #ffd000;
}
.nav-link {
  font-size: 1.2rem;
  color: #333;
}
.nav-link:hover {
  color: #fd7200;
}
.popular-main-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.popular-description {
  color: #5f5f5f;
  font-weight: 300;
}
.popular-section-cards {
  justify-content: space-around;
}
.popular-main-section h6 {
  color: #fd7200;
  margin: 2rem 0;
}
.popular-section__end {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-card {
  margin-bottom: 2rem;
  max-width: 18rem;
  background: white;
  transition: box-shadow .5s;
}
.movie-card:hover {
  box-shadow: 5px 5px 20px #00000015;
}
.movie-card h6 {
  color: #333;
  height: 2.5rem;
  margin-top: 0.5rem;
}
.movie-card-top {
  cursor: pointer;
  transition: opacity .2s;
}
.movie-card-top:hover {
  opacity: 0.8;
}
.movie-card-img {
  width: 100%;

}
.card-body-vote {
  font-size: 0.8rem;
  text-align: right;
  font-weight: 200;
  color: #888888 !important;
}
.card-body-text {
  height: 6rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: left;
  color: #888888 !important;
}
.card-body {
  display: flex;
  flex-direction: column;
} 
.discover-main-section {
  margin-top: 4rem;
  display: flex;
  /* flex-direction: column; */
}